@import './reset.css';

.m-part {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
}

.m-part-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  .u-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, .2);
  }
  .u-profile {
    margin-left: 60px;
    font-weight: bold;
    text-shadow: 2px 4px 12px rgba(0, 0, 0, .2);
    .name {
      font-size: 60px;
    }
    .job {
      font-size: 30px;
    }
  }
}

.m-part-project {
  .u-tlt {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 4px 12px rgba(0, 0, 0, .2);
  }
}

.m-project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .u-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .img {
      width: 200px;
      height: 200px;
    }
    .tlt {
      font-size: 18px;
      font-weight: bold;
    }
    .txt {
      font-size: 16px;
      color: #aaa;
    }
  }
}

