@import './reset.css';

$colors: #fff2cc #ff0 #c5f277 #0f0 #0ff #00f #90f #f00 #900 #000;

@keyframes stretch {
  0% {
    width: 0;
  }
}

body {
  height: 100vh;
  overflow: hidden;
}

.m-part {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
}

.m-part-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  .u-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, .2);
  }
  .u-profile {
    margin-left: 60px;
    font-weight: bold;
    text-shadow: 2px 4px 12px rgba(0, 0, 0, .2);
    .name {
      font-size: 60px;
    }
    .job {
      font-size: 30px;
    }
  }
}

.m-part-project, .m-part-skill, .m-part-more {
  .u-tlt {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 4px 12px rgba(0, 0, 0, .2);
  }
}

.m-project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .u-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .img {
      width: 200px;
      height: 200px;
    }
    .tlt {
      font-size: 18px;
      font-weight: bold;
    }
    .txt {
      font-size: 16px;
      color: #aaa;
    }
  }
}

.m-skill-list {
  .u-item {
    margin: 20px;
    font-size: 0;
    .name {
      display: inline-block;
      width: 30%;
      font-size: 20px;
      text-align: right;
      padding-right: 20px;
      vertical-align: middle;
    }
    .degree {
      display: inline-block;
      width: 0%;
      height: 30px;
      background: #fff;
      vertical-align: middle;
      animation: stretch 1s ease-in;
      
      @for $i from 1 through 10 {
        &[data-degree="#{$i}"] {
          width: 6% * $i;
          background: nth($colors, $i);
        }
      }
    }
  }
}

.m-part-more {
  text-align: center;
  .u-txt {
    font-size: 20px;
    a:hover {
      font-size: 30px;
    }
  }
}
